nav {
    padding: 5px 10px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #E8E8E8;
    height: 40px;
}

img#logo {
    float: left;
    margin: 0px;
}

nav ul {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    float: right;
}

nav li {
    float: left;
    height: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

nav li::before {
    content: "/ ";
}

main.site-content {
    padding: 20px 40px;
}

main h1 {
    text-align: left;
    margin: 0px;
}

main h2 {
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 0x;
    border-bottom: 1px solid #E8E8E8;
}

main p {
    margin: 0.5em 0px;
    line-height: 1.5em;
}

main .signup {
    display: inline-block;
    margin: 20px 0px;
    cursor: pointer;
    background-color: #48B048;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #309030;
}

main .signup:hover {
    text-decoration: none;
    background-color: #60C060;
}

main .signup:active {
    background-color: #40A040;
}

main .coming {
    display: inline-block;
    margin: 20px 0px;
    cursor: pointer;
    background-color: #ccc;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid #309030;
}

main .coming:hover {
    text-decoration: none;
    background-color: #999;
}

main .coming:active {
    background-color: #666;
}

.disclaimer {
    font-size: 50%;
    display: block;
    margin-top: -15px;
    line-height: 1.6;
}

.list--disc {
    list-style-type: disc;
}
.speakers {
    list-style: none;
    padding-left: 0;
}

.speaker {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}


.speaker-title {
    margin-bottom: 0;
}

.speaker-topic {
    font-size: 95%;
    color: #999;
}

.speaker-img-placeholder {
   width: 50%;
   background-color: #ccc;
   text-align: center;
   padding-top: 25%;
   padding-bottom: 25%;
}

.sponsor-list {
    padding-left:0;
}

.sponsor {
    display: block;
    list-style: none;
    padding-bottom: 20px;
}

.logo {
    display: block;
    text-indent: -999em;
    height: 38px;
    display: block;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-top:0;
    margin-bottom:0;
}

.logo--futurice {
   width: 178px;
   background-image: url('/img/logo-futurice-338x72.png');
   background-size: 178px 38px;
}

.logo--sc5 {
    width: 118px;
    background-image: url('/img/logo-sc5-169x72.png');
    background-size: 89px 38px;     
}

.logo--reaktor {
    width: 219px;
    background-image: url('/img/logo-reaktor-414x72.png');
    background-size: 219px 38px;
    background-position: 0 5px;
    padding-bottom:10px; 
}

.logo--palmu {
    width: 177px;
    background-image: url('/img/logo-palmu.svg');
    background-size:177px 38px;
    background-position: 0px -4px;
}

.logo--frantic {
    width: 157px;
    height: 31px;
    background-image: url('/img/logo-frantic.svg');
    background-size: 157px 31px;
    background-position: 0 0;
}

.logo--solita {
    width: 148px;
    height: 31px;
    background-image: url('/img/logo_solita_dark.svg');
    background-size: 148px 31px;
    background-position: 0 0;
}

@media only screen and (max-width: 37.5em) {
    .logo--palmu {
        background-position: -21px -4px;
    }
}

@media only screen and (min-width: 37.5em) {
    
    .sponsor {
        display: inline-block;
        padding-right: 20px;
        padding-bottom:0;
    }
    .speaker {
        padding-top: 0;

        border-bottom: none;
    }   
    .speaker-img {
        float:left;
        margin-right: 2%;
        width: 18%;
    }

    .speaker-img-placeholder {
        float: left;
        margin-right: 2%;
        width: 18%;
        background-color: #ccc;
        text-align: center;
        padding-top: 8.5%;
        padding-bottom: 8.5%;
    }

    .speaker-img-alt {
        float: right;
        margin-left: 2%;
        width: 18%;
    }

    .speaker-body {
        float:left;
        width: 80%;
    }

    .speaker-body-alt {
        float: left;
        width: 80%;
    }
}